<ion-view view-title="My Music">

  <div class="bar bar-subheader range range-assertive">
    <button class="button button-clear button-assertive" ng-class="{'ion-ios-pause': !music.audio.paused, 'ion-ios-play': music.audio.paused}" ng-click="music.audio.paused? music.play() : music.pause()"></button>
    <input type="range" min="0" max="1" step="0.01" ng-model="music.progress">
    <button class="button button-clear button-assertive ion-ios-more"></button>
  </div>

  <ion-content style="margin-top: 35px">
    <ion-refresher pulling-text="Refresh..." pulling-icon="ion-ios-loop" spinner="android" on-refresh="doRefresh()"></ion-refresher>

    <!-- <div class="list" ng-model="searchInput">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" placeholder="Search song">
        </label>
      </div>
    </div> -->


    <div ng-repeat="music in library" class="list card">

      <div class="item item-avatar-left" ng-click="playMusic(music)">
        <img ng-src="data:image/png;base64,{{ (music.picture[0].data).toString('base64') }}">
        <button style="float: right;" class="button button-clear button-assertive button-icon ion-ios-more"></button>
        <h2>{{ music.title || 'n/a' }}</h2>
        <p>{{ (music.artist.join(', ') || music.albumartist.join(', ') || 'n/a') + ' - ' + music.album }} &bull; {{ (music.duration * 1000) | date:'mm:ss' }}</p>

      </div>

    </div>

  </ion-content>
</ion-view>
