<ion-view view-title="My Music">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon ion-ios-information-outline"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Refresh..." pulling-icon="ion-ios-loop" spinner="android" on-refresh="doRefresh()"></ion-refresher>

    <div ng-repeat="music in library" class="list card">

      <div class="item item-avatar">
        <img ng-src="data:image/png;base64,{{ (music.picture[0].data).toString('base64') }}">
        <h2>{{ music.title }}</h2>
        <p>{{ music.album + ' - ' + (music.albumartist.join(', ') || 'n/a') }} &bull; {{ (music.duration * 1000) | date:'mm:ss' }}
        </p>
      </div>

    </div>

  </ion-content>
</ion-view>
