<ion-view view-title="Settings">
  <ion-content>
    <ion-item><strong>Basic Settings</strong></ion-item>
    <ion-toggle ng-click="playInBG(!appSettings.playInBG)" ng-checked="appSettings.playInBG">Play in background</ion-toggle>
    <ion-toggle ng-click="win.setFullScreen(!win.isFullScreen())">Full Screen</ion-toggle>
    <ion-item>Music directory <button class="button button-small button-assertive button-outline" ng-click="modal.show()" style="margin-bottom:-10px;margin-top:-5px;float:right;">Change</button></ion-item>
    <ion-item><strong>Advenced Settings</strong></ion-item>
    <ion-toggle ng-click="web.toggleDevTools()">Developer Tools</ion-toggle>
    <div class="padding">
      <button ui-sref="about" ng-click="showLoading()" class="button button-block button-assertive button-outline">About us</button>
    </div>
  </ion-content>
</ion-view>

<script type="text/ng-template" id="set-path-modal.html">
  <ion-modal-view>
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Set your new Music directory</h1>
    </ion-header-bar>
    <ion-content class="padding">

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-ios-folder-outline placeholder-icon"></i>
          <input type="text" placeholder="New directory" ng-model="musicDir">
        </label>
      </div>

      <p>
        <small>Windows: e.g, <span class="positive">C:/Users/YourName/Music</span> <br>Linux and Mac: e.g, <span class="positive">/home/user/Music</span> <br><span class="assertive">Please make sure that directory exists, and you didn't put slash in the end.</span></small>
      </p>

      <div class="button-bar">
        <button class="button button-balanced" ng-click="saveDir(musicDir);readdir()">Save</button>
        <button class="button button-light" ng-click="modal.hide()">Cancel</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
